@charset "utf-8";

/* Reset margin */
ul, ol, div {
    margin: 0; padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #EEEFF7;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "thaisans_bold";
    color: #333;
}

a { color: #2980B9; }
a:visited { text-decoration: none; }
a:hover {
    text-decoration: none;
    color: #2C3E50;
}

/* Hiding element */
#language_dropdown { display: none; }
#search_btn { display: none; }
.slicknav_menu { display: none; }

/* Collapse menu */
.slicknav_menu {
    font-family: "thaisans_bold";
}
.slicknav_menu .slicknav_nav { font-size: 120%; }
.slicknav_btn { font-size: 100%; }

/* Custom fonts */
.thaisans_regular { font-family: "thaisans_regular"; }
.thaisans_light { font-family: "thaisans_light"; }
.thaisans_bold { font-family: "thaisans_bold"; }
.thsarabunnew_bold { font-family: "thsarabunnew_bold"; }

/* Top menu */
.top_menu_wrapper {
    position: absolute;
    right: 100px;
    float: right;
    display: block;
    z-index: 3;
}
.top_menu_wrapper > ul {
    list-style: none;
}
.top_menu_wrapper > ul > li {
    float: left;
    padding: 10px 0 10px 30px;
}
.top_menu_wrapper > ul > li > a {
    color: #999;
    font-size: 18px;
    font-family: "thaisans_bold";
}
.top_menu_wrapper > ul > li > a:hover {
    color: #666;
    text-decoration: none;
}

/* Header */
.header_wrapper {
    width: 100%;
    background-color: #fff;
}
.header_wrapper > .header {
    width: 100%;
    height: 140px;
}
.header_wrapper > .header > div {
    position: relative;
}
.header_wrapper > .header > .menu {
    float: left;
    top: 60px;
    left: 140px;
    font-family: "thaisans_bold";
}
.header_wrapper > .header > .menu > ul {
    list-style: none;
    height: 50px;
    line-height: 50px;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
}
.header_wrapper > .header > .menu > ul > li {
    width: 140px;
    text-align: center;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.header_wrapper > .header > .menu > ul > li > a {
    font-size: 24px;
}
.header_wrapper > .header > .menu > ul > li > ul {
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.header_wrapper > .header > .menu > ul > li > ul > li {
    background: #fff;
    display: block;
    color: #2980B9;
    border-bottom: 1px solid #f1f1f1;
}
.header_wrapper > .header > .menu > ul > li > ul > li > a {
    font-size: 18px;
}
.header_wrapper > .header > .menu > ul > li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
.header_wrapper > .header > .menu > ul > li:hover > ul > li > a {
    display: block;
}

.header_wrapper > .header > .logo {
    float: left;
    width: 100px;
    height: 100px;
    top: 20px;
    left: 80px;
}
.header_wrapper > .header > .logo img {
    width: 100%;
    height: 100%;
}
.header_wrapper > .header > .head_panel {
    float: right;
    top: 65px;
    right: 100px;
}
.header_wrapper > .header > .head_panel > div {
    float: left;
    margin-left: 10px;
}
.header_wrapper > .header > .head_panel > div > ul {
    list-style: none;
}
.header_wrapper > .header > .head_panel > div > ul > li {
    margin-left: 5px;
}
/* Languages */
.header_wrapper > .header > .head_panel > .languages > ul > li {
    float: left;
    height: 35px;
    line-height: 35px;
}
/* Search */
.header_wrapper > .header > .head_panel > .search > ul > li > input {
    border: 1px solid #ddd;
    color: #666;
    height: 40px;
    line-height: 40px;
    width: 200px;
    background-color: #fff;
    padding: 0 5px 0 5px;
}
.header_wrapper > .header > .head_panel > .search .search_popup {
    position: absolute;
    width: 220px;
    top: 40px;
    right: 75px;
    padding: 10px;
    background-color: #fff;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: none;
}
.header_wrapper > .header > .head_panel > .search .search_popup > input {
    width: 100%;
    border: 1px solid #ddd;
    color: #666;
    height: 40px;
    width: 200px;
    line-height: 40px;
}

/* Content */
.content_wrapper {
    width: 100%;
    height: 100%;
    clear: both;
}
.content_wrapper > .splash_wrapper {
    width: 100%;
    background: url("/pictures/splash1-h500-bg.jpg");
}
.content_wrapper > .splash_wrapper > .splash {
    width: 84%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    background: url("/pictures/splash1-h500-tower.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
.content_wrapper > .splash_wrapper > .splash > .content_rotator {
    position: relative;
    top: 50px;
    left: 40px;
    width: 750px;
    height: 250px;
}
.content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li {
    height: 250px;
}
.content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div {
    padding: 0px 60px 0 60px;
    color: rgba(255, 255, 255, 0.6);
}
.content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div > h1 {
    color: rgba(255, 255, 255, 1);
}
.content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div > p {
    font-size: 16px;
}
.content_wrapper > .contents {
    width: 1000px;
    height: 100%;
    margin: auto;
    color: #000;
    margin-top: 50px;
}
.content_wrapper > .contents:after {
    display: block;
    content: " ";
    clear: both;
}
.content_wrapper > .contents h1 {
    background: 100% 100% url("/pictures/diagonal.gif") repeat-x;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content_wrapper > .contents > .content {
    float: left;
    width: 600px;
    height: 100% !important;
    min-height: 700px;
}
.content_wrapper > .contents > .content ul {
    list-style: none;
}
.content_wrapper > .contents > .content ul > li {
    margin-bottom: 50px;
    color: #333;
    clear: both;
}
.content_wrapper > .contents > .content ul > li img {
    width: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    border: 5px solid rgba(255, 255, 255, 1);
}
.content_wrapper > .contents > .content ul:last-child {
    margin: 0; padding: 0;
}

/* Single post */
.content_wrapper > .contents > .content > .single_post h2 {
    background: none;
    color: #333;
    margin-bottom: 10px;
}
.content_wrapper > .contents > .content > .single_post  p {
    margin-bottom: 20px;
}
.content_wrapper > .contents > .content > .single_post .post_info {
    color: #666;
    margin-bottom: 30px;
    font-style: italic;
}
.content_wrapper > .contents > .content > .single_post .post_content .post_img img {
    width: 98%;
    margin-bottom: 30px;
    border: 5px solid rgba(255, 255, 255, 1);
}
.content_wrapper > .contents > .content > .single_post .post_content .post_img span {
    display: block;
    font-style: italic;
    font-size: 96%;
    color: #666;
    margin: -20px 0 10px 0;
}
/* News column */
.content_wrapper > .contents > .news {
    float: right;
    width: 350px;
    height: 100% !important;
    min-height: 700px;
}
.content_wrapper > .contents > .news > ul {
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    display: table;
}
.content_wrapper > .contents > .news > ul > li {
    margin-bottom: 10px;
    clear: both;
}
.content_wrapper > .contents > .news > ul > li[class="header"] {
    margin-bottom: 80px;
    color: #333;
}
.content_wrapper > .contents > .news > ul > li  img {
    width: 100px;
    margin: 0 10px 10px 0;
    border: 2px solid rgba(255, 255, 255, 1);
    float: left;
}
.content_wrapper > .contents > .news > ul > li[class="video"]  img {
    width: 350px;
    text-align: center;
}
.content_wrapper > .contents > .pagination {
    font-family: "thaisans_bold";
}

/* Dashboard */
.content_wrapper > .contents > .dash_nav {
    width: 20%;
}
.content_wrapper > .contents > .dash_content {
    width: 80%;
}

/* Common class */
.read_more { font-family: "thaisans_bold"; }
.events_readmore { font-size: 18px; width: 150px; }


/* Footer */
.footer_wrapper {
    width: 100%;
    background-color: #1E1E20;
    margin-top: 50px;
}
.footer_wrapper > .footer {
    margin: auto;
    width: 1000px;
    height: 270px;
}
.footer_wrapper > .footer > ul {
    width: 33%;
    height: 250px;
    list-style: none;
    float: left;
}
.footer_wrapper > .footer > ul > li {
    color: #eee;
    line-height: 25px;
    clear: both;
}
.footer_wrapper > .footer > ul > li > a { color: #999; }
.footer_wrapper > .footer > ul > li[class="header"] {
    margin-bottom: 10px;
    margin-top: 30px;
}
.footer_wrapper > .footer > ul > li[class="header"] > h3 {
    color: #fff;
}
.footer_wrapper > .footer > ul > li[class="inline_list"] > div {
    display: inline;
}
.footer_wrapper > .footer > ul > li[class="inline_list"] > div img {
    width: 30px;
    height: 30px;
}


/**************************
 * Adaptive screen
 **************************/
@media all and (max-width: 1152px) {
    h1, h2, h3 { font-size: 200%; }

    .top_menu_wrapper {
        right: 20px;
    }

    .header_wrapper > .header > .logo {
        width: 100px;
        height: 100px;
        top: 20px;
        left: 0px;
    }

    .header_wrapper > .header > .head_panel {
        top: 65px;
        right: 20px;
    }
    .header_wrapper > .header > .head_panel > .search > ul > li > input {
        width: 200px;
    }

    .content_wrapper > .splash_wrapper {
        width: 100%;
        background-size: 20px 300px;
    }
    .content_wrapper > .splash_wrapper > .splash {
        width: 90%;
        height: 300px;
        background-image: url("/pictures/splash1-h500-tower.png");
        background-repeat: no-repeat;
        background-size: 180px 300px;
        background-position: 96% 40%;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator {
        position: relative;
        top: 20px;
        left: 0;
        width: 80%;
        height: 200px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li {
        height: 200px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div {
        padding: 0px 50px 0 50px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div > p {
        font-size: 15px;
    }

    .header_wrapper > .header > .menu {
        top: 60px;
        left: 0px;
    }
    .header_wrapper > .header > .menu > ul > li {
        width: 120px;
    }

    .content_wrapper > .contents {
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .content_wrapper > .contents > .news {
        width: 30%;
    }
    .content_wrapper > .contents > .news > ul > li[class="video"]  img {
        width: 100%;
        text-align: center;
    }
    .content_wrapper > .contents > .content {
        width: 66%;
    }

    .footer_wrapper > .footer {
        width: 100%;
        height: 250px;
    }
    .footer_wrapper > .footer > ul {
        padding: 0 20px 0 20px;
        width: 33%;
        height: 250px;
        list-style: none;
        float: left;
    }
}

@media all and (max-width: 900px) {
    #search_box { display: none; }
    #search_btn { display: inherit; }
}

@media all and (max-width: 736px) {
    h1, h2, h3 { font-size: 160%; }

    .slicknav_menu { display: block; }

    .header_wrapper > .header > .menu {
        display: none;
    }

    .top_menu_wrapper {
        position: relative;
        top: 10px;
    }

    .header_wrapper > .header > .head_panel {
        top: 15px;
        right: 0px;
    }

    .content_wrapper > .splash_wrapper {
        width: 100%;
        background-size: 20px 200px;
    }
    .content_wrapper > .splash_wrapper > .splash {
        width: 90%;
        height: 200px;
        background-image: url("/pictures/splash1-h500-tower.png");
        background-repeat: no-repeat;
        background-size: 110px 200px;
        background-position: 100%;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        height: 160px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li {
        height: 160px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div {
        padding: 0px 50px 0 50px;
    }
    .content_wrapper > .splash_wrapper > .splash > .content_rotator ul > li > div > p {
        font-size: 12px;
    }

    .header_wrapper > .header {
        width: 100%;
        height: 70px;
        line-height: 70px
    }
    .header_wrapper > .header > .logo {
        float: left;
        width: 60px;
        height: 60px;
        top: 0px;
        left: 0px;
    }
    .header_wrapper > .header > .logo img {
        width: 100%;
        height: 100%;
    }

    .content_wrapper > .contents {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px;
        font-size: 94%;
    }
    .content_wrapper > .contents > .content {
        width: 100%;
    }
    .content_wrapper > .contents > .content > ul > li {
        margin-bottom: 30px;
    }
    .content_wrapper > .contents > .content > ul > li img {
        float: none;
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }
    .content_wrapper > .contents > .news {
        width: 100%;
    }
    .content_wrapper > .contents > .news > ul > li[class="video"]  img {
        width: 100%;
        text-align: center;
    }

    .footer_wrapper {
        padding: 10px;
    }
    .footer_wrapper > .footer {
        width: 100%;
        height: 100%;
    }
    .footer_wrapper > .footer > ul {
        width: 100%;
        height: 100%;
        float: none;
        margin-bottom: 30px
    }

    .events_readmore { font-size: 18px; width: 100%; }
}

@media all and (max-width: 630px) {
    h1, h2, h3 { font-size: 160%; }

    #language_dropdown { display: inherit; }
    #language_label { display: none; }
    .slicknav_menu { display: block; }

    .top_menu_wrapper {
        position: relative;
        top: 10px;
        right: 10px;
    }
    .top_menu_wrapper > ul > li { padding-left: 5px; }

    .header_wrapper > .header > .menu,
    .content_wrapper > .splash_wrapper {
        display: none;
    }

    .header_wrapper > .header > .head_panel {
        top: 12px;
        right: 0px;
        left: -15px;
        padding: 0;
    }
    .header_wrapper > .header > .head_panel > div {
        margin-left: 5px;
    }
    .header_wrapper > .header > .head_panel > .search .search_popup {
        right: 0px;
        left: 0px;
    }

    .header_wrapper > .header {
        width: 100%;
        height: 60px;
        line-height: 60px
    }
    .header_wrapper > .header > .logo {
        float: left;
        width: 50px;
        height: 50px;
        top: 0px;
        left: 0px;
    }
    .header_wrapper > .header > .logo img {
        width: 100%;
        height: 100%;
    }

    .content_wrapper > .contents {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px;
        font-size: 94%;
    }
    .content_wrapper > .contents > .content {
        width: 100%;
    }
    .content_wrapper > .contents > .content > ul > li {
        margin-bottom: 30px;
    }
    .content_wrapper > .contents > .content > ul > li img {
        float: none;
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
    }
    .content_wrapper > .contents > .news {
        width: 100%;
    }
    .content_wrapper > .contents > .news > ul > li[class="video"]  img {
        width: 100%;
        text-align: center;
    }

    .footer_wrapper {
        padding: 10px;
    }
    .footer_wrapper > .footer {
        width: 100%;
        height: 100%;
    }
    .footer_wrapper > .footer > ul {
        width: 100%;
        list-style: none;
        height: 100%;
        float: none;
        margin-bottom: 30px
    }

    .events_readmore { font-size: 18px; width: 100%; }
}
